[submodule "Tutorials"]
	path = Tutorials
	url = https://github.com/ioam/ioam.github.com.git
[submodule "Examples"]
	path = Examples
	url = https://github.com/ioam/ioam.github.com.git
	branch = holoviews-examples
[submodule "dev/Tutorials"]
	path = dev/Tutorials
	url = git@github.com:ioam/ioam.github.com.git
